<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<input type="file" accept="*" id="upload">
<input type="hidden" name="file">
</body>
<script src='https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js'></script>
<script type="text/javascript">
    $(document).on('change', '#upload', function () {
        var file = document.getElementById('upload').files[0];
        console.log(file);
        const policy = "ewogICAgImNvbnRlbnQtbGVuZ3RoIjogMTUzLAogICAgInNhdmUta2V5IjogIi90ZXN0LnppcCIsCiAgICAiYnVja2V0IjogImNvcy1seSIsCiAgICAiZXhwaXJhdGlvbiI6IDE2MjI4NzQ4NzEKfQ==";
        const authorization = "UPYUN root:Yr4tjpvnD28vnVUEBl70EYjwz+Y=";
        var formData = new FormData();
        formData.append("policy", policy);
        formData.append("authorization", authorization);
        formData.append("file", file);
        $.ajax({
            url: "http://v0.api.upyun.com/cos-ly",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function (request) {
                // request.setRequestHeader("origin", "*");
                // request.setRequestHeader("policy", policy);
                // request.setRequestHeader("authorization", authorization);
                //可以做一些正在上传的效果
                console.log("uploading...");
            },
            success: function (data) {
                console.log(data);
                alert("success");
                //data，我们这里是异步上传到后端程序所返回的图片地址
            },
            error: function (responseStr) {
                console.log(responseStr);
                alert("error");
            }
        });
    });
</script>
</html>